<html>
<head>
	<title>Автосервис "Подорожник"</title>
</head>
<body class="landing">
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/landing.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

	<div class="top_bar">

	</div>

	<div class="banner">
		<div class="banner_text">
			Система управления автосервиса "Подорожник"
		</div>

		<a href="http://127.0.0.1:8000/signin"><div class="login_button">
			<p class="control_text">Войти</p>
		</div></a>
	</div>


</body>
<html>